<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>
		<%= title %>
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

	<!-- CSS 
    ========================= -->

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="/css/plugins.css">

	<!-- Main Style CSS -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Main Style CSS -->


</head>

<body>

	<!--header area start-->

	<!--Offcanvas menu area start-->
	<div class="off_canvars_overlay">

	</div>
	<div class="Offcanvas_menu">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="canvas_open">
						<a href="javascript:void(0)"><i class="ion-navicon"></i></a>
					</div>
					<div class="Offcanvas_menu_wrapper">
						<div class="canvas_close">
							<a href="javascript:void(0)"><i class="ion-android-close"></i></a>
						</div>
						<div class="support_info">
							<p>تلفن تماس: <a class="ltr-text" href="tel:+989123456789">+(98) 123 456 789</a></p>
						</div>
						<div class="top_right text-right">
							<ul></ul>
							<%if(auth) {%>
								<li><a href="/auth/logout"> خروج </a></li>
								<li><a href="/myaccount"> پنل کاربری </a></li>
								<%}else{%>
									<li><a href="/auth/login"> حساب کاربری </a></li>
									<%}%>
										<li><a href="checkout.html"> پرداخت </a></li>
										</ul>
						</div>
						<div class="search_container">
							<form action="#">
								<div class="hover_category">
									<select class="select_option" name="select" id="categori">
										<option selected value="1">همه دسته ها</option>
										<% for(categorie of categories) {%>
											<option value="<%= categorie.name %>">
												<%= categorie.name %>
											</option>
											<%}%>
									</select>
								</div>
								<div class="search_box">
									<input placeholder="جستجوی محصول ..." type="text">
									<button type="submit">جستجو</button>
								</div>
							</form>
						</div>

						<div class="middel_right_info">
							<div class="header_wishlist">
								<a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<span class="wishlist_quantity">3</span>
							</div>
							<div class="mini_cart_wrapper">
								<a href="javascript:void(0)"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <i
										class="fa fa-angle-down"></i></a>
								<span class="cart_quantity">2</span>
								<!--mini cart-->
								<div class="mini_cart">

									<div class="mini_cart_table">
										<div class="cart_total mt-10">
											<span>جمع کل:</span>
											<span class="price">138,000 تومان </span>
										</div>
									</div>

									<div class="mini_cart_footer">
										<div class="cart_button">
											<a href="/cart">مشاهده سبد</a>
										</div>
									</div>

								</div>
								<!--mini cart end-->
							</div>
						</div>
						<div id="menu" class="text-left ">
							<ul class="offcanvas_main_menu">
								<li class="menu-item-has-children">
									<%if(auth) {%>
								<li><a href="/auth/logout"> خروج </a></li>
								<%}else{%>
									<li><a href="/auth/login"> حساب کاربری </a></li>
									<%}%>
										</li>
										<li class="menu-item-has-children">
											<a href="/aboutUs">درباره ما</a>
										</li>
										<li class="menu-item-has-children">
											<a href="/contactus"> تماس با ما</a>
										</li>
										<li class="menu-item-has-children">
											<a href="#">صفحات </a>
											<ul class="sub-menu">
												<li><a href="/allProducts">تمام محصولات</a></li>
											</ul>
										</li>
							</ul>
						</div>

						<div class="Offcanvas_footer">
							<span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
							<ul>
								<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								<li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="telegram"><a href="#"><i class="fa fa-telegram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Offcanvas menu area end-->

	<header>
		<div class="main_header">
			<!--header top start-->
			<div class="header_top">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6">
							<div class="support_info">
								<p>تلفن تماس: <a class="ltr-text" href="tel:+989123456789">+(98) 123 456 789</a></p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="top_right text-right">
								<ul>
									<%if(auth) {%>
										<li><a href="/auth/logout"> خروج </a></li>
										<li><a href="/user/myaccount">پنل کاربری </a></li>
										<%}else{%>
											<li><a href="/auth/login"> حساب کاربری </a></li>
											<%}%>
												<li><a href="checkout.html"> پرداخت </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--header top start-->
			<!--header middel start-->
			<div class="header_middle">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 col-md-6">
							<div class="logo">
								<a href="/"><img src="/img/logo/logo.png" alt=""></a>
							</div>
						</div>
						<div class="col-lg-9 col-md-6">
							<div class="middel_right">
								<div class="search_container">
									<form action="#">
										<div class="hover_category">
											<select class="select_option" name="select" id="categori1">
												<% for(categorie of categories) {%>
													<option value="<%= categorie.name %>">
														<%= categorie.name %>
													</option>
													<%}%>
											</select>
										</div>
										<div class="search_box">
											<input placeholder="جستجوی محصول ..." type="text">
											<button type="submit">جستجو</button>
										</div>
									</form>
								</div>
								<div class="middel_right_info">
									<div class="header_wishlist">
										<a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
										<span class="wishlist_quantity">3</span>
									</div>
									<div class="mini_cart_wrapper">
										<a href="javascript:void(0)"><i class="fa fa-shopping-bag"
												aria-hidden="true"></i> <i class="fa fa-angle-down"></i></a>
										<span class="cart_quantity">2</span>
										<!--mini cart-->
										<div class="mini_cart">
											<div class="mini_cart_table">
												<div class="cart_total mt-10">
													<span >جمع کل:</span>
													<span class="price">138,000 تومان </span>
												</div>
											</div>

											<div class="mini_cart_footer">
												<div class="cart_button">
													<a href="/cart">مشاهده سبد</a>
												</div>
											</div>

										</div>
										<!--mini cart end-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--header middel end-->
			<!--header bottom satrt-->
			<div class="main_menu_area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 col-md-12">
							<div class="categories_menu">
								<div class="categories_title">
									<h2 class="categori_toggle">دسته‌بندی ها</h2>
								</div>
								<div class="categories_menu_toggle">
									<%for(categorie of categories){%>
										<ul>
											<li class="menu_item_children"><a href="#">
													<%= categorie.name %> <i class="fa fa-angle-left"></i>
												</a>
												<ul class="categories_mega_menu">
													<% for (items of categorie.categoryItem) {%>
														<li class="menu_item_children"><a href="#">
																<%= items.name %>
															</a>
															<ul class="categorie_sub_menu">
																<% for (item of items.tags){%>
																	<li><a href="">
																			<%= item %>
																		</a></li>
																	<%}%>
															</ul>
														</li>
														<%}%>
												</ul>
											</li>
										</ul>
										<%}%>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-12">
							<div class="main_menu menu_position">
								<nav>
									<ul>
										<li><a href="#">صفحات <i class="fa fa-angle-down"></i></a>
											<ul class="sub_menu pages">
												<li><a href="/allProducts">تمام محصولات</a></li>
											</ul>
										</li>
										<li><a href="/aboutUs">درباره ما</a></li>
										<li><a href="/contactus"> تماس با ما</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--header bottom end-->
		</div>
	</header>
	<!--header area end-->

	<!--sticky header area start-->
	<div class="sticky_header_area sticky-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<div class="logo">
						<a href="/aboutUs"><img src="/img/logo/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="sticky_header_right menu_position">
						<div class="main_menu">
							<nav>
								<ul>
									<li><a href="/aboutUs">درباره ما</a></li>
									<li><a href="/contactus"> تماس با ما</a></li>
								</ul>
							</nav>
						</div>
						<div class="middel_right_info">
							<div class="header_wishlist">
								<a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<span class="wishlist_quantity">3</span>
							</div>
							<div class="mini_cart_wrapper">
								<a href="javascript:void(0)"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <i
										class="fa fa-angle-down"></i></a>
								<span class="cart_quantity">2</span>
								<!--mini cart-->
								<div class="mini_cart">
									<div class="mini_cart_table">
										<div class="cart_total mt-10">
											<span>جمع کل:</span>
											<span class="price">138,000 تومان </span>
										</div>
									</div>

									<div class="mini_cart_footer">
										<div class="cart_button">
											<a href="/cart">مشاهده سبد</a>
										</div>
									</div>

								</div>
								<!--mini cart end-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--sticky header area end-->


	<%- body %>

		<!--footer area start-->
		<footer class="footer_widgets">
			<div class="footer_top">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="widgets_container contact_us">
								<div class="footer_logo">
									<a href="#"><img src="/img/logo/logo.png" alt=""></a>
								</div>
								<div class="footer_contact">
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
										گرافیک است.</p>
									<p><span>آدرس: </span> تبریز، چهارراه آبرسان، فلکه دانشگاه، برج بلور، طبقه 678، واحد
										85</p>
									<p><span>موبایل: </span><a class="ltr-text" href="tel:+989123456789">+(98) 123 456
											789</a> ، <a class="ltr-text" href="tel:+989123456789">+(98) 123 456 789</a>
									</p>
									<p><span>پشتیبانی: </span><a target="_blank" href="#">support@sample.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="widgets_container widget_menu">
								<h3>اطلاعات</h3>
								<div class="footer_menu">
									<ul>
										<li><a href="/aboutUs">درباره ما</a></li>
										<li><a href="blog.html">نحوه ارسال</a></li>
										<li><a href="contact.html">سیاست حریم خصوصی</a></li>
										<li><a href="services.html">قوانین و مقررات</a></li>
										<li><a href="#">مرجوعی ها</a></li>
										<li><a href="#">کارت های هدیه</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="widgets_container widget_menu">
								<div class="footer_menu">
									<ul>
										<%if(auth) {%>
											<li><a href="/auth/logout"> خروج </a></li>
											<li><a href="/user/myaccount">پنل کاربری </a></li>
											<%}else{%>
												<li><a href="/auth/login"> حساب کاربری </a></li>
												<%}%>
													<li><a href="#">سابقه خرید</a></li>
													<li><a href="wishlist.html">علاقه‌مندی‌ها</a></li>
													<li><a href="#">خبرنامه</a></li>
													<li><a href="#">نمایندگی ها</a></li>
													<li><a href="faq.html">سفارشات بین المللی</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="widgets_container newsletter">
								<h3>ما را دنبال کنید</h3>
								<div class="footer_social_link">
									<ul>
										<li><a class="facebook" href="#" title="فیسبوک"><i
													class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#" title="توییتر"><i class="fa fa-twitter"></i></a>
										</li>
										<li><a class="instagram" href="#" title="اینستاگرام"><i
													class="fa fa-instagram"></i></a></li>
										<li><a class="telegram" href="#" title="تلگرام"><i
													class="fa fa-telegram"></i></a></li>
										<li><a class="rss" href="#" title="RSS"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
								<div class="subscribe_form">
									<h3>هم اکنون عضو خبرنامه ما شوید</h3>
									<form id="mc-form" class="mc-form footer-newsletter" method="post">
										<input id="mc-email" type="email" autocomplete="off"
											placeholder="... آدرس ایمیل شما" dir="ltr">
										<button id="mc-submit">اشتراک!</button>
									</form>
									<!-- mailchimp-alerts Start -->
									<div class="mailchimp-alerts text-centre">
										<div class="mailchimp-submitting"></div>
										<!-- mailchimp-submitting end -->
										<div class="mailchimp-success"></div>
										<!-- mailchimp-success end -->
										<div class="mailchimp-error"></div>
										<!-- mailchimp-error end -->
									</div>
									<!-- mailchimp-alerts end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6">
							<div class="copyright_area">
								<p>raba group</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="footer_payment text-right">
								<a href="#"><img src="/img/icon/payment.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--footer area end-->

		<!-- modal area start-->
		<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<div class="modal_body">
						<div class="container">
							<div class="row">
								<div class="col-lg-5 col-md-5 col-sm-12">
									<div class="modal_tab">
										<div class="tab-content product-details-large">
											<div class="tab-pane fade show active" id="tab1" role="tabpanel">
												<div class="modal_tab_img">
													<a href="#"><img src="/img/product/product1.jpg" alt=""></a>
												</div>
											</div>
											<div class="tab-pane fade" id="tab2" role="tabpanel">
												<div class="modal_tab_img">
													<a href="#"><img src="/img/product/product2.jpg" alt=""></a>
												</div>
											</div>
											<div class="tab-pane fade" id="tab3" role="tabpanel">
												<div class="modal_tab_img">
													<a href="#"><img src="/img/product/product3.jpg" alt=""></a>
												</div>
											</div>
											<div class="tab-pane fade" id="tab4" role="tabpanel">
												<div class="modal_tab_img">
													<a href="#"><img src="/img/product/product5.jpg" alt=""></a>
												</div>
											</div>
										</div>
										<div class="modal_tab_button">
											<ul class="nav product_navactive owl-carousel" role="tablist">
												<li>
													<a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"
														aria-controls="tab1" aria-selected="false"><img
															src="/img/product/product1.jpg" alt=""></a>
												</li>
												<li>
													<a class="nav-link" data-toggle="tab" href="#tab2" role="tab"
														aria-controls="tab2" aria-selected="false"><img
															src="/img/product/product2.jpg" alt=""></a>
												</li>
												<li>
													<a class="nav-link" data-toggle="tab" href="#tab3" role="tab"
														aria-controls="tab3" aria-selected="false"><img
															src="/img/product/product3.jpg" alt=""></a>
												</li>
												<li>
													<a class="nav-link" data-toggle="tab" href="#tab4" role="tab"
														aria-controls="tab4" aria-selected="false"><img
															src="/img/product/product5.jpg" alt=""></a>
												</li>

											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12">
									<div class="modal_right">
										<div class="modal_title mb-10">
											<h2>گوشی موبایل Xiaomi Mi 9 Lite</h2>
										</div>
										<div class="modal_price mb-10">
											<span class="new_price">6,400,000 تومان</span>
											<span class="old_price">7,800,000 تومان</span>
										</div>
										<div class="modal_description mb-15">
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
												طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
												سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
												متنوع با هدف بهبود ابزارهای </p>
										</div>
										<div class="variants_selects">
											<div class="variants_size">
												<h2>اندازه</h2>
												<select class="select_option">
													<option selected value="1">کوچک</option>
													<option value="1">متوسط</option>
													<option value="1">بزرگ</option>
												</select>
											</div>
											<div class="variants_color">
												<h2>رنگ</h2>
												<select class="select_option">
													<option selected value="1">بنفش</option>
													<option value="1">قرمز</option>
													<option value="1">مشکی</option>
													<option value="1">صورتی</option>
													<option value="1">نارنجی</option>
												</select>
											</div>
											<div class="modal_add_to_cart">
												<form action="#">
													<input min="0" max="100" step="2" value="1" type="number">
													<button type="submit">افزودن به سبد</button>
												</form>
											</div>
										</div>
										<div class="modal_social">
											<h2>اشتراک گذاری این محصول</h2>
											<ul>
												<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a>
												</li>
												<li class="google-plus"><a href="#"><i
															class="fa fa-google-plus"></i></a></li>
												<li class="telegram"><a href="#"><i class="fa fa-telegram"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- modal area end-->

		<!--news letter popup start (uncomment lines 763-788 in main.js to show this)-->
		<div class="newletter-popup">
			<div id="boxes" class="newletter-container">
				<div id="dialog" class="window">
					<div id="popup2">
						<span class="b-close"><span>بستن</span></span>
					</div>
					<div class="box">
						<div class="newletter-title">
							<h2>خبرنامه</h2>
						</div>
						<div class="box-content newleter-content">
							<label class="newletter-label">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
								با استفاده از طراحان گرافیک است.</label>
							<div id="frm_subscribe">
								<form name="subscribe" id="subscribe_popup">
									<input type="text" value="" name="subscribe_pemail" id="subscribe_pemail"
										placeholder="آدرس ایمیل خود را وارد کنید ...">
									<input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
									<div id="notification"></div>
									<a class="theme-btn-outlined"
										onclick="email_subscribepopup()"><span>اشتراک</span></a>
								</form>
								<div class="subscribe-bottom">
									<input type="checkbox" id="newsletter_popup_dont_show_again">
									<label for="newsletter_popup_dont_show_again">دیگر این پاپ آپ را نشان نده</label>
								</div>
							</div>
							<!-- /#frm_subscribe -->
						</div>
						<!-- /.box-content -->
					</div>
				</div>

			</div>
			<!-- /.box -->
		</div>
		<!--news letter popup start-->




		<!-- JS
============================================ -->
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Plugins JS -->
		<script src="/js/plugins.js"></script>
		<!-- Main JS -->
		<script src="/js/main.js"></script>

		<!-- RECAPTCHA -->
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<script>
			function onSubmit(token) {
				document.getElementById("demo-form").submit();
			}
		</script>

		<script src="https://cdn.tiny.cloud/1/477ted5fajei23py1rd4hmltzytt8gpvbfng2pzincq86pw7/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector: '#tinymce',
				plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
				toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
				toolbar_mode: 'floating',
				tinycomments_mode: 'embedded',
				tinycomments_author: 'Author name',
				directionality: "rtl",
			});

		</script>

		<!-- !cart -->
		<script src="/js/cart.js"></script>
		<!-- !cart -->


</body>

</html>