<%- include("../includeMenuBar")%>

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="well invoice-container">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="">
                                <i class="fa fa-check"></i>

                            </h3>

                        </div>
                        <div class="col-xs-6 text-right">
                            <h1>
                                <%= store.user.firstName %>
                            </h1>
                            <div>
                                <span>تاریخ ثبت نام: <%= jalaliMoment(store.user.createdAt) %></span>
                            </div>
                            <div class="horizontal-space"></div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6>اطلاعات درخواست دهنده</h6>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <%= store.user.firstName %>
                                                <%= store.user.lastName %>
                                        </li>
                                        <li>
                                            <%= store.user.email %>
                                        </li>
                                        <li>
                                            <%= store.user.mobile %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6>اطلاعات درخواست</h6>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <%= store.storeName %>
                                        </li>
                                        <li>
                                            <%= store.storeMobile %>
                                        </li>
                                        <li>
                                            <%= store.storeEmail %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- / end client details section -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <h5 class="no-margin-bottom">کد</h5>
                                </th>
                                <th>
                                    <h5 class="no-margin-bottom">وضعیت</h5>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= store.code %>
                                </td>
                                <td><a href="#">
                                        <% if(store.isActive){%>
                                            <span class="badge bg-success">فروشگاه فعال</span>
                                            <%}else{%>
                                                <span class="badge bg-danger">فروشگاه غیر فعال</span>
                                                <%}%>
                                    </a></td>

                            </tr>
                        </tbody>
                    </table>
                    <hr class="wide" />
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6>آدرس فروشگاه</h6>
                                </div>
                                <div class="panel-body">
                                    <%= store.storeAddress %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="span7">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h6>توضیحات فروشنده</h6>
                                    </div>
                                    <div class="panel-body">
                                        <%= store.storeAdminDesc %>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr class="wide" />
                    <div class="invoice-notes">
                        <h5>توضیحات فروشگاه</h5>
                        <p>
                            <%= store.storeDesc %>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->